body {
  font-size: 25px;
  font-family: 'Cormorant Unicase', serif;
  background-image: url('images (1).jpeg');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: fixed;
}
h1 {
  border-top: 1px solid white;
  border-bottom: 3px solid white;
  text-align: center;
  margin-bottom: 100px;
  padding-bottom: 70px;
}
.middle {
  margin-bottom: 150px;
}
.start {
  background-image:url(triangles.img);
  background-repeat: no-repeat;
  background-size:cover;
  /* background-color:  #396069 */
;
  color:solid-grey;
}
form {
  text-align: center;
}
